<!-- start with an underscore and Rails knows it's a partial - use partials as template to be rendered in any of the view files. In this case: The forms used to create and edit courses are the same. Create a partial to render them in both html files and DRY :)-->

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		
<%= simple_form_for(event) do |f| %>
<!-- note: without the equal sign, code is evaluated, but not rendered in browser -->
<!-- note: add all the input fields necessary to create a new course as well as their specification using simple_forms -->
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :start_date, as: :datetime, start_year: Date.today.year, ampm: true, order: [:day, :month, :year]%>
  <%= f.input :end_date, as: :datetime, start_year: Date.today.year, ampm: true, order: [:day, :month, :year]%>
  <%= f.input :venue %>
  <%= f.input :location %>
  <%= f.button :submit, 'Submit!', class: "btn btn-primary" %>
	<!-- submit creates the option to actually submit the entries in the form rendered -->

<% end %>

<p><%= link_to "Back", events_path%></p>

	</div>
</div>