<% provide(:title, @event.title) %>

<h1><%= @event.title %></h1>

 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<div>
  <p><%= @event.description %></p>
  <p><%= time_format(@event.start_date) %></p>
  <p><%= time_format(@event.end_date) %></p>
  <p><%= @event.venue %></p>
  <p><%= @event.location %></p>
</div>

<P><%= link_to "Edit course", edit_event_path(@event)%> | <%= link_to "Delete course", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %>
</P>